name: CI

on:
  push:
    branches:
      - main
      - master
      - dev
  pull_request:
    branches:
      - main
      - master
      - dev

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: temurin
          cache: gradle

      - name: Grant execute permission to Gradle wrapper
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew test

      - name: Build project
        run: ./gradlew build
